<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>address</key>
	<string>10.99.2.20</string>
	<key>services</key>
	<array>
		<string>the temperature</string>
		<string>the humidity</string>
	</array>
	<key>spark</key>
	<array>
		<string>activity</string>
	</array>
	<key>name</key>
	<string>Blaze</string>
	<key>dob</key>
	<date>2015-10-02T06:47:58Z</date>
	<key>creator</key>
	<string>Pradyumna</string>
	<key>place</key>
	<string>Kansas City</string>
	<key>skills</key>
	<array>
		<string>weather</string>
		<string>location</string>
		<string>basic information</string>
	</array>
</dict>
</plist>
